<div class="header">
  <img src="images/logo.png" alt="Pipeline logo"/>
  <h3 class="text-muted pull-right">Luigi</h3>
</div>

<div id="pipelines">
  <table class="table">
      <thead>
        <tr>
            <th>&nbsp;</th>
            <th>ID</th>
            <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="pipeline in pipelines">
            <td><span class="glyphicon glyphicon-cog"></span></td>
            <td>{{pipeline.id}}</td>
            <td><span ng-class="getStatusLabelClass(pipeline.status)">{{pipeline.status}}</span></td>
        </tr>
      </tbody>
  </table>
</div>
