<div>Search: <input ng-model="query"/></div>
<div id="pipelines">

    <div class="panel panel-default" ng-repeat="pipeline in pipelines | filter:query | orderBy:'creationTime':'reverse'" ng-controller="PipelineDetails">
        <div class="panel-heading">
            <h3 class="panel-title">{{pipeline.name}} <small>{{pipeline.creationTime | date:'dd-MM-yyyy'}}</small></h3>
        </div>
        <div class="panel-body">

            <div id="runs">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="run in runs">
                        <td><a href="#/runs/{{run.id}}" alt="{{run.id}}">{{run.id}}</a></td>
                        <td><span ng-class="getStatusLabelClass(run.status)">{{run.status}}</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
