<div>Search: <input ng-model="query"/></div>
<div id="pipelines">
  <table class="table">
      <thead>
        <tr>
            <th>Name</th>
            <th>Created</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="pipeline in pipelines | filter:query | orderBy:'creationTime':'reverse'">
            <td><a href="#/pipelines/{{pipeline.id}}" alt="{{pipeline.name}}">{{pipeline.name}}</a></td>
            <td>{{pipeline.creationTime | date:'dd-MM-yyyy'}}</td>
        </tr>
      </tbody>
  </table>
</div>
