<ul class="breadcrumb">
    <li><a href="#" alt="Back to the pipelines">Pipelines</a></li>
    <li class="active">{{pipeline.id}}</li>
</ul>

<div id="pipelines">
    <p>
        <span>Job {{pipeline.name}}  {{pipeline.creationTime}}</span>
        <span ng-class="getStatusLabelClass(pipeline.status)">{{pipeline.status}}</span>

    <div ng-repeat="stage in pipeline.stages">
        <div ng-class="getFlowLabelClass(stage.status)">
            <span>{{stage.name}}</span>
            <span>{{stage.status}}</span><br/>
        </div>
        <div class="glyphicon glyphicon-arrow-down">&nbsp;</div>
    </div>
    </p>
</div>
