<ul class="breadcrumb">
    <li><a href="#" alt="Back to the pipelines">Pipelines</a></li>
    <li><a href="#">{{pipe.name}}</a></li>
    <li class="active">{{pipeline.id}}</li>
</ul>

<div id="pipelines">
    <p>

    <div class="row">
        <span>Job {{pipe.name}}</span>
        <span  class="col-lg-3 pull-right" ng-class="getStatusLabelClass(pipeline.status)">{{pipeline.status}}</span>
        <span class="col-lg-3 pull-right">{{pipeline.creationTime | date:'dd-MM-yyyy mm:hh:ss'}}</span>
    </div>

    <div ng-repeat="stage in pipeline.stages">
        <div ng-class="getFlowLabelClass(stage.status)">
            <span>{{stage.name}}</span>
            <span>{{stage.status}}</span><br/>
        </div>
        <div class="glyphicon glyphicon-arrow-down">&nbsp;</div>
    </div>
    </p>
</div>
