<ul class="breadcrumb">
    <li><a href="#" alt="Back to the pipelines">Pipelines</a></li>
    <li><a href="#/project/{{pipe.id}}">{{pipe.name}}</a></li>
    <li class="active">{{pipeline.id}}</li>
</ul>

<div id="pipelines">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="clearfix">
                <span class="col-lg-6">Job {{pipe.name}}</span>
                <span class="col-lg-3">{{pipeline.creationTime | date:'dd-MM-yyyy hh:mm:ss'}}</span>
                <span class="col-lg-3" ng-class="getStatusLabelClass(pipeline.status)">{{pipeline.status}}</span>
            </div>
        </div>
        <div class="panel-body">
            <div ng-repeat="stage in pipeline.stages">
                <div ng-class="getFlowLabelClass(stage.status)">
                    <span>{{stage.name}}</span>
                    <span>{{stage.status}}</span><br/>
                </div>
                <p class="arrow glyphicon glyphicon-arrow-down">&nbsp;</p>
            </div>
        </div>
    </div>



</div>
